
CrozzleApplication/bin/

CrozzleApplication/obj/

\.vscode/\.\./\.\./Properties/Resources\.log

\.\./\.\./Properties/Resources\.log

Test Files/\.~lock\.Unit Tests\.xlsx#

Test Files/~\$Unit Tests\.xlsx
